{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Добавить рецензию</h1>
    <form method="post" action="{{ url_for('add_review', book_id=book_id) }}">
        <div class="form-group">
            <label for="rating">Оценка:</label>
            <select class="form-control" id="rating" name="rating">
                <option value="Отлично">Отлично</option>
                <option value="Хорошо">Хорошо</option>
                <option value="Удовлетворительно">Удовлетворительно</option>
                <option value="Неудовлетворительно">Неудовлетворительно</option>
                <option value="Плохо">Плохо</option>
                <option value="Ужасно">Ужасно</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text">Текст рецензии:</label>
            <textarea class="form-control" id="text" name="text" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

</div>
{% endblock %}
