{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Список книг</h1>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Название</th>
                <th>Год</th>
                <th>Жанры</th>
                <th>Средняя оценка</th>
                <th>Количество рецензий</th>
                {% if current_user.is_authenticated %}
                    {% if get_user_role(current_user.role_id) == 'moderator' or get_user_role(current_user.role_id) == 'admin' %}
                        <th>Действия</th>
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody id="books-table-body">
            {% for book in books %}
            <tr>
                <td><a href="{{ url_for('view_book', book_id=book.id) }}" class="text-decoration-none text-dark">{{ book.title }}</a></td>
                <td>{{ book.year }}</td>
                <td>{% if book.genres %}{{ book.genres }}{% endif %}</td>
                <td>{{ book.average_rating or 'Нет оценок' }}</td>
                <td>{{ book.reviews_count }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if current_user.is_authenticated %}
                            {% if get_user_role(current_user.role_id) == 'moderator' or get_user_role(current_user.role_id) == 'admin' %}
                                <a href="{{ url_for('edit_book', book_id=book.id) }}" class="btn btn-primary">Редактировать</a>
                            {% endif %}
                            {% if get_user_role(current_user.role_id) == 'admin' %}
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBookModal" data-book-id="{{ book.id }}" data-book-title="{{ book.title }}">Удалить</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if current_user.is_authenticated %}
        {% if get_user_role(current_user.role_id) == 'admin' %}
            <div class="mt-4 d-flex justify-content-end">
                <a href="{{ url_for('add_book') }}" class="btn btn-primary">Добавить книгу</a>
            </div>
        {% endif %}
    {% endif %}

    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center" id="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="#" data-page="{{ page-1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="#" data-page="{{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
            {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="#" data-page="{{ page+1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Modal for deleting books -->
<div class="modal fade" id="deleteBookModal" tabindex="-1" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBookModalLabel">Удаление книги</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteBookMessage"></p>
                <form id="deleteBookForm" action="" method="POST">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}

