{% extends 'base.html' %}

{% block content %}
    <h1>Проверка и преобразование номера телефона</h1>
    <form method="POST" action="/numb">
        <div class="mb-3 mt-3">
            <label for="phone-field">Номер телефона</label>
            <input id="phone-field" type="tel" name="phone" class="form-control {% if error %}is-invalid{% endif %}" value="{{ phone }}">
            {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-secondary">Проверить</button>
    </form>
    {% if formatted_phone %}
    <div class="mt-3">
        <p>Преобразованный формат номера телефона: {{ formatted_phone }}</p>
    </div>
    {% endif %}
{% endblock %}
